div.popup {
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
}

.popup .background {
  background-color: white;
  position: relative;
  padding: 10px;
  width: 800px;
  height: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}