h1 {
  display: block;
  background-color: slategray;
  padding: .5em .5em .5em .25em;
  margin: 0em;
  border-bottom: 1px solid white;
}

nav a {
  display: inline-block;
  padding: .5em 1em;
  border-right: 1px solid white;
  text-decoration: none;
  /* slategray */
  background-color: rgb(112, 128, 144);
  color: black;
}

nav a:hover {
  background-color: rgba(112, 128, 144, .9);
}