<app-balance [balance]="balance"></app-balance>
<h2>Games</h2>
<div class="games-list">
  <div *ngFor="let game of games" class="game">
    <button type="button" (click)="insertTokens(game)">
      <img src="" alt="{{game.name + ' image' | uppercase}}" class="game-image">
      <span class="game-name">{{game.name}}</span>
      <span class="game-cost">PLAY: {{game.cost}} {{game.cost !== 1 ? "tokens" : "token"}}</span>
    </button>
  </div>
</div>

<app-purchase-popup *ngIf="this.getPopupStatus()" [purchasePoint]="this"></app-purchase-popup>